<% var productName = @Global.getConfig('productName'); %>
<nav class="navbar navbar-static-top">
	<div class="logo" data-toggle="push-menu" title="${productName}">
		<b>${productName}</b>
		<small>&nbsp; &nbsp;<i class="fa fa-bars"></i></small>
	</div>
	<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
			<li><a href="javascript:" id="fullScreen" title="${text('全屏')}"><i class="fa fa-arrows-alt"></i></a></li>
			<li><a href="javascript:" id="switchSkin" title="${text('切换主题')}" style="margin-top:-1px;"><i class="fa fa-dashboard"></i></a></li>
			<% include('/modules/sys/sysIndex/topMenuUser.html'){} %>
		</ul>
	</div>
</nav>