<% layout('/layouts/default.html', {title: '下级收益统计', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa fa-list-alt"></i> 下级收益统计
            </div>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
            </div>
        </div>
        <div class="box-body">
        <#form:form id="searchForm" model="${dealerDto}" action="${ctx}/dealer/listData" method="post" class="form-inline hide"
            data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
        </#form:form>
        <table id="dataGrid"></table>
        <div id="dataGridPage"></div>
    </div>
</div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'经销商编码', name:'companyCode', index:'', width:150, align:"left"},
            {header:'经销商名称', name:'companyName', index:'', width:150, align:"left"},
            {header:'总收益', name:'amount', index:'', width:150, align:"right", formatter: function(val, obj, row, act){
                    return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
                }},
            {header:'上级收益', name:'brokerage', index:'', width:150, align:"right", formatter: function(val, obj, row, act){
                    return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
                }}
        ],
        // 加载成功后执行事件
        ajaxSuccess: function(data){

        }
    });
</script>