<% layout('/layouts/default.html', {title: '咖啡机排名', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> 咖啡机排名
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${coffeeMakerResult}" action="${ctx}/cm/coffeeMaker/topData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">统计时间：</label>
					<div class="control-inline">
						<#form:input path="lastStatisticsTime_gte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
						dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false,onpicked:function(){lastStatisticsTime_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="lastStatisticsTime_lte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
						dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'机器ID', name:'cmId', index:' ', width:150, align:"left", frozen:true},
		{header:'机器编码', name:'code', index:'', width:150, align:"left"},
		{header:'经销商', name:'dealer', index:'', width:150, align:"center"},
		{header:'场地名称', name:'address', index:'', width:150, align:"center"},
		{header:'销量', name:'count', index:'', width:150, align:"center"},
        {header:'营业额', name:'sum', index:'', width:150, align:"center"},
        {header:'平均值', name:'ave', index:'', width:150, align:"center" ,formatter:function(val, obj, row, act){
            	var num = row.sum/row.count;
                return num;
			}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>