<% layout('/layouts/default.html', {title: '场地管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> 场地管理
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
				<% if(hasPermi('cm:place:edit')){ %>
					<a href="${ctx}/cm/place/form" class="btn btn-default btnTool" title="新增场地"><i class="fa fa-plus"></i> 新增</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${place}" action="${ctx}/cm/place/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">经销商：</label>
					<div class="control-inline width-120" >
						<#form:treeselect id="dealer" title="经销商"
							path="dealer" labelPath="" 
							url="${ctx}/sys/company/treeData" allowClear="true" canSelectParent="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">场地编码：</label>
					<div class="control-inline">
						<#form:input path="code" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">负责人：</label>
					<div class="control-inline">
						<#form:input path="custodian" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'场地编码', name:'code', index:'a.dealer', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/cm/place/form?id='+row.id+'" class="btnList" data-title="编辑场地">'+(val||row.id)+'</a>';
		}},
		{header:'经销商', name:'dealer', index:'a.code', width:150, align:"left"},
		{header:'地址', name:'address', index:'a.address', width:150, align:"left"},
		{header:'负责人', name:'custodian', index:'a.custodian', width:150, align:"left"},
		{header:'联系电话', name:'phone', index:'a.phone', width:150, align:"left"},
		{header:'创建时间', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'备注', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'操作', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('cm:place:edit')){ %>
				actions.push('<a href="${ctx}/cm/place/form?id='+row.id+'" class="btnList" title="编辑场地"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/cm/place/delete?id='+row.id+'" class="btnList" title="删除场地" data-confirm="确认要删除该场地吗？"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>