<% layout('/layouts/default.html', {title: '在线留言管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> 在线留言管理
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${onlineMsg}" action="${ctx}/msg/onlineMsg/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">内容：</label>
					<div class="control-inline">
						<#form:input path="content" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">联系方式：</label>
					<div class="control-inline">
						<#form:input path="contactWay" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">备注：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="512" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'用户编号', name:'clientUser.userName', index:'a.user_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/msg/onlineMsg/form?id='+row.id+'" class="btnList" data-title="编辑在线留言">'+(val||row.id)+'</a>';
		}},
		{header:'内容', name:'content', index:'a.content', width:150, align:"left"},
		{header:'联系方式', name:'contactWay', index:'a.contact_way', width:150, align:"left"},
		{header:'创建时间', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'备注', name:'remarks', index:'a.remarks', width:150, align:"left"}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>